
@{
    ViewBag.Title = "You Are Dead";
}
@Html.Partial("AuthorizePartial")
<h1>You Are Dead</h1>
<p>You are dead.  You won't be able to join any more games. Ever.</p>
@Html.ActionLink("Return", "Index", "Home")
